<section class="my-3 card border-0 shadow-sm bg-white">
    <div class="card-body p-4">
        <h2 class="h5"><i class="fas fa-seedling text-success"></i> Academic Service</h2>
        <ul class="activity-list small mb-0">
            <li><strong>Area Chair:</strong> CVPR 2027</li>
            <li><strong>Journal reviewer:</strong> Nature Communications, IEEE T-RO, npj Digital Medicine, Medical Image Analysis, Scientific Data, Scientific Reports</li>
            <li><strong>Conference reviewer:</strong> CVPR, ICCV, ECCV, MICCAI</li>
        </ul>
    </div>
</section>
