<section class="row mt-3 mb-3">
    {% if site.data.profile.awards %}
    <div class="col-12">
        <div class="card border-0 shadow-sm bg-white h-100">
            <div class="card-body p-4">
                <h2 class="h5 section-heading"><i class="fas fa-award"></i> Honors &amp; Awards</h2>
                <ul class="small pl-3 mb-0">
                    {% for item in site.data.profile.awards %}
                    <li>
                        <div class="d-flex">
                            <div>{{ item.name }}</div>
                            <div class="ml-auto mt-auto no-break"><em>{{ item.date }}</em></div>
                        </div>
                    </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
    {% endif %}
</section>
