{% assign publications = include.publications %}
<div class="my-3 p-0 bg-white shadow-sm rounded-xl publication-card">
    <div class="d-flex align-items-center justify-content-between border-bottom border-gray p-3">
        <h6 class="mb-0">
            {% if include.title %}{{ include.title }}{% else %}<i class="fas fa-star"></i> Selected Recent Publications{% endif %}
        </h6>
        <a class="btn btn-sm btn-outline-primary ml-3 no-break" href="{{ 'publications' | relative_url }}">
            View all <i class="fas fa-angle-right ml-1"></i>
        </a>
    </div>
    {% for item in publications limit:include.limit %}
        {% include widgets/publication_item.html item=item first=false last=false %}    
    {% endfor %}
</div>
