<div class="my-3 p-3 bg-white shadow-sm rounded-xl">
  <h2 class="h5 section-heading border-bottom border-gray pb-3 mb-3"><i class="fas fa-lightbulb"></i> Research Highlights</h2>
  <div class="row highlight-grid">
    <div class="col-sm-6 mb-3 mb-sm-0">
      <a href="https://www.nature.com/articles/s41551-025-01546-x" target="_blank" class="highlight-link">
        <img src="{{ '/assets/images/covers/nbe-highlight.jpeg' | relative_url }}" alt="Nature Biomedical Engineering highlight of UltraBot" class="img-fluid rounded highlight-image">
        <span>UltraBot highlighted by <em>Nature Biomedical Engineering</em></span>
      </a>
    </div>
    <div class="col-sm-6">
      <a href="https://miccai.org/index.php/publications/newsletters/december-winter-2025/miccai-student-board-update/" target="_blank" class="highlight-link">
        <img src="{{ '/assets/images/covers/miccai-award.jpg' | relative_url }}" alt="MICCAI Best PhD Thesis First Runner-Up Award" class="img-fluid rounded highlight-image">
        <span>MICCAI Best Ph.D. Thesis First Runner-Up Award</span>
      </a>
    </div>
  </div>
</div>
